**/.git
**/.gitignore
**/.gitattributes
**/.github
**/.turbo
**/.cache
**/.next
**/dist
**/build
**/node_modules
**/coverage
**/.DS_Store
**/*.log
**/*.swp
**/*.swo
**/*~
**/*.pem
**/*.key
**/*.crt
**/*.p12
.env
.env.*
prod.env
README*
LICENSE*
CHANGELOG*
docs
